.work {
	padding: 2% 2% 3% 2%;
}
.work__picture {
	float: left;
}
.work__image {
    width: 100%;
}

.work__contents {
    padding: 24% 7%!important;
    text-align: center;
}

.contents__logo {
	font-size: 60px;
	text-align: center;
}

.contents__link {
    font-size: 20px;
    line-height: 2.34;
}

.logo__mark{
	font-size: 30px;
	padding-left: 2%;
}

.contents__discription {
    text-align: center;
    font-size: 32px;
    line-height: 1.33349;
    font-weight: 300;
    letter-spacing: 0em;
}

p.discription__sentence {
    padding: 5% 16% 5%;
    font-size: 22px;
    line-height: 1.53;
    font-weight: 300;
    text-align: center;
}

.work__contents.col-xs-6 {
	padding: 5%;
}

.work__intro-badges {

	padding: 3%;
	text-align: center;
}
.border {
	border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.intro-badges__members {
	width: 20%;
	display: inline-block;
    position: relative;
    font-size: 20px;
    width: 12em;
    height: 8em;
    color: #333;
    vertical-align: middle;
    padding: 30px;
}
.intro-badges__title {
    font-size: 40px;
    color: #d0a8a0;
}
.intro-badges__title--small{
    font-size: 25px;
    color: #d0a8a0;
}
.intro-badges__subtitle {
    font-size: 15px;
    color: #666;
}


.img {
    width: 100%;
}

.charm {
    padding-top: 7%;
}

.award__contents {
    padding: 10% 11% 11% 6%;
}

.award__title {
    font-size: 20px;
    line-height: 1.16667;
    font-weight: 300;
    letter-spacing: 0em;
    margin-bottom: 18px;
    display: block;
}

.award__subtitle {
    font-size: 46px;
    margin-bottom: 30px;
    line-height: 1.18;
}

.arard__discription {
    font-size: 20px;
    line-height: 1.53;
    letter-spacing: 0em;
}


.decision__title {
    font-size: 18px;
    margin-bottom: 5%;
}

.decision__contents {
    padding: 8% 0 0 8%;
}
.decision__subtitle {
    font-size: 36px;
    margin-bottom: 40px;
}
.contents__discription--left {
    font-size: 19px;
    line-height: 1.53349;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
}
.decision__intro-badges {
    padding-left: 63%;
    padding-top: 10%;
}

/*.decision__link {
	text-align: center;
}*/

.border--up__down {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}


.intro-badges__members--row {
    width: 20%;
    display: inline-block;
    position: relative;
    font-size: 20px;
    width: 12em;
    height: 8em;
    color: #333;
    vertical-align: middle;
    padding: -1px 15%;
    text-align: center;
}
.intro-badges__title {
    font-size: 40px;
    color: #d0a8a0;
}
.intro-badges__title--small{
    font-size: 25px;
    color: #d0a8a0;
}
.intro-badges__subtitle--center {
    font-size: 13px;
    color: #666;
    text-align: center;
}

.date {
	padding-top: 3%;
	margin: 2% 10%;
}
.date__contents {
	padding-top: 7%;
}

.date__image {
	width: 100%;
}
.date__title {
    font-size: 20px;
    line-height: 1.16667;
    font-weight: 300;
    letter-spacing: 0em;
    margin-bottom: 18px;
    display: block;
}

.date__subtitle {
    font-size: 36px;
    margin-bottom: 30px;
}

.date__discription {
    font-size: 19px;
    line-height: 1.53349;
    letter-spacing: 0em;
    margin-top: 13%;
}