.informal_decision{
text-align: center;
font-size: 30px;
margin: 30px 50px; 
}

table.sample { 
border-collapse: separate;
border-spacing: 50px 20px;
}

.informal_decision__company{ font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic',
'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
font-size: 14pt; 
font-style: oblique; 
}

.informal_decision__company--LINE{ 
color:#00ff33;
}

 .informal_decision__company--reve{ 
color:blue;
}

 .informal_decision__company--rich{ 
color:#ffcc00;
}


@media screen and (max-width: 480px) {
th,td {
	font-size: 14pt;
	width: 100%;
	display: block;
}