body{
	width: 100%;
}

.charm_top{
	padding-top: 100px;
	text-align: center;
}

.charm_top2 {
	font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic','YuGothic', 'ヒラギノ角ゴシック Pro',
	 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo','Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	padding: 100px;
	float: center;
}

.charm_top3 {
	font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic','YuGothic', 'ヒラギノ角ゴシック Pro',
	 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo','Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
	padding: 100px; 
	float: right;
}

.charm_top_sub {
	font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic','YuGothic', 'ヒラギノ角ゴシック Pro',
	'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo','Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 25px;
	color: #777777;
	margin-top: 5px;
	margin-left: 35px;
	width: 600px;
	float: left;
}
/*.2016nd{
	float: right;
	width: 50%;
}*/

.charm_top_description{
	font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic','YuGothic', 'ヒラギノ角ゴシック Pro',
	'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo','Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	text-align: left;
	font-size: 20px;
	color:#777777;
	line-height: 1.5;
	padding-top: 10px;
	float: left;
}

#black_text{
	color:#000000;
	font-size: 22px;
}

 .charm_top_student{
	padding: 50px;
	float: center;
}

img.2015nd{
	margin-left: auto;
	margin-right: auto;
}

.charm_top4 {
	font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic','YuGothic', 'ヒラギノ角ゴシック Pro',
	 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo','Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
	padding: 100px; 
	float: left;
}

@media screen and (max-width: 480px) {
	h1,h2 {
		width: 600px;
		text-align: center;
}
