.teacher{
    font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic',
'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    text-align: center;
    margin: 30px 150px; 
    font-size: 20px;
}

.kamibayashi{
    width: 50%;
    height: 50%;

}

.description{
    font-size: 20px;
    margin: 30px 40px;
    padding: 20px 0px;
}

.teacher__SXD--q{
    font-size: 30px;
    margin: 30px 40px;
    color: #8990a3;
}

.teacher__SXD--a{
    font-size: 20px;
    margin: 30px 40px;
    padding: 20px 0px;  
}

.teacher__Service--q{
    font-size: 30px;
    margin: 30px 40px; 
    color: #8990a3;
}

.teacher__Service--a{
    font-size: 20px;
    margin: 30px 40px;
    padding: 20px 0px;
   
}

.teacher__UX--q{
    font-size: 30px;
    margin: 30px 40px; 
    color: #8990a3;
}

.teacher__UX--a{
    font-size: 20px;
    margin: 30px 40px; 
      padding: 20px 0px;
}

.kamibayashi__picture {
    padding-top: 3%;
}

@media screen and (max-width: 800px) {
  

.teacher{
    text-align: center;
    font-size: 10px;
    margin: 0;
}


.description{
    font-size: 15px;
    margin: 30px 50px;
}

.kamibayashi{
    width: 100%;
    height: auto;
}

.top_return{
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 4%;
}

}